@import "compass/reset";
@import "compass";

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow: -moz-scrollbars-none;
}


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */
#content browser { margin-right:-14px!important; overflow-y:scroll; overflow-x:hidden;}

body {
  background-image: url("/static/images/satinweave.png");
}

header {
  background-color: #800000;
  color: white;
  height: 50px;
  border-bottom: 1px solid black;
  h1 {
    font-size: 30px;
    font-family: "Patua One";
    text-align: center;
    line-height: 50px;
  }
}

.row {
  width: 100%;
  clear: both;

  img {
    display: block;
    float: left;
    width: 32%;
    margin-top: 4px;
    margin-left: 0.5%;
    margin-bottom: 0px;
    padding: 0;
    border: 1px solid #DDDDDD;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
