@import "compass/reset";
@import "compass";

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow: -moz-scrollbars-none;
}


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */
#content browser { margin-right:-14px!important; overflow-y:scroll; overflow-x:hidden;}

body {
  background-image: url("/static/images/satinweave.png");
}

header {
  @include background-image(linear-gradient(#F2AAAA, #FA1919, #800000));
  color: white;
  height: 50px;
  border-bottom: 1px solid black;
  h1 {
    font-size: 30px;
    font-family: "Patua One";
    text-align: center;
    line-height: 50px;
  }
}

.row {
  position: relative;
  width: 100%;
  clear: both;

  img {
    width: 163px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
  }

  img:first-child {
    margin-left: 10px;
    margin-right: 5px;
  }

  img:last-child {
    margin-left: 5px;
    margin-right: 10px;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
