<!doctype html>
<html>
  <head>
    <title>Around the Block</title>
    <meta name="description" content="Find out what your friends are doing around the block">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
  </head>
  <body>
    <section>
      <div class="row">
        <div class="photo">
        </div>
        <div class="photo">
        </div>
      </div>
      <div class="row">
        <div class="photo">
        </div>
        <div class="photo">
        </div>
      </div>
      This is the main view with the photos
    </section>
    <menu>
      <button>Map View</button>
      <button>Settings</button>
    </menu>
  </body>
</html>
