{% extends "layout.html" %}

{% block body %}
  <body>
    <section>
      <header>
        <a href="/"><h1><img id="logo" src="/static/images/logo.png" />Around the Block</h1></a>
        <a class="map-link" href="/map"><img src="/static/images/map-icon.png" /></a>
      </header>
    </section>
    <div id="pjax-container">
      {% block content %}
      {% endblock %}
    </div>
    <script type="text/javascript">
      {% if g.user %}
        window.userSignedIn = true;
      {% else %}
        window.userSignedIn = false;
      {% endif %}
    </script>
  </body>
{% endblock %}
