{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<!--[if lte IE 8]>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
<![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
{% endblock %}

{% block content %}
<section>
  <div id="main-image">
  </div>
  <div id="photo-details">
  </div>
  <div id="friend-details">
    <span>have been here</span>
  </div>
  <div id="location-details">
  </div>
  <div id="map-detail"></div>
</section>

<script type="text/javascript">
  fetchLocation(renderDetailView);
</script>

{% endblock %}
