<!doctype html>
<html>
  <head>
    <title>Around the Block</title>
    <meta name="fb-app-id" content="{{ config.FB_APP_ID }}"/>

    <meta name="description" content="Find out what your friends are doing around the block">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />

    <link href='http://fonts.googleapis.com/css?family=Righteous|Patua+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/app.css" />

    <script type="text/javascript" src="/static/js/zepto.min.js"></script>

    {% block header %}
    {% endblock %}
  </head>
  {% block body %}
  {% endblock %}
</html>
