<!doctype html>
<html>
  <head>
    <title>Around the Block</title>
    <meta name="fb-app-id" content="{{ config.FB_APP_ID }}"/>

    <meta name="description" content="Find out what your friends are doing around the block">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />

    <link href='http://fonts.googleapis.com/css?family=Righteous|Patua+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/app.css" />

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />

    <script type="text/javascript" src="/static/js/zepto.min.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>

    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>

    <meta name="latitude" content="{{ request.cookies.get('lat') or '' }}"/>
    <meta name="longitude" content="{{ request.cookies.get('long') or '' }}"/>
  </head>
  {% block body %}
  {% endblock %}
</html>
