{% extends "base.html" %}

{% block content %}
<section>
  <div id="container">
    <div class="photo">
      <img src="http://placekitten.com/400/300" alt="PlaceKitten" />
    </div>
    <div class="photo">
      <img src="http://sphotos-d.ak.fbcdn.net/hphotos-ak-snc7/320587_10150283471912553_6537384_n.jpg" />
    </div>
    <div class="photo">
      <img src="http://sphotos-e.ak.fbcdn.net/hphotos-ak-ash4/402264_10150512744251975_710388308_n.jpg" />
    </div>
    <div class="photo">
      <img src="http://placekitten.com/400/300" alt="PlaceKitten" />
    </div>
    <div class="photo">
      <img src="http://sphotos-g.ak.fbcdn.net/hphotos-ak-ash4/398382_2641627693984_295711110_n.jpg" />
    </div>
    <div class="photo">
      <img src="http://sphotos-c.ak.fbcdn.net/hphotos-ak-snc6/270518_10150259876567206_4788575_n.jpg" />
    </div>
    <div class="photo">
      <img src="http://sphotos-d.ak.fbcdn.net/hphotos-ak-snc7/320587_10150283471912553_6537384_n.jpg" />
    </div>
    <div class="photo">
      <img src="http://sphotos-d.ak.fbcdn.net/hphotos-ak-snc7/320587_10150283471912553_6537384_n.jpg" />
    </div>
    <div class="photo">
      <img src="http://placekitten.com/400/300" alt="PlaceKitten" />
    </div>
    <div class="photo">
      <img src="http://placekitten.com/g/400/300" alt="PlaceKitten" />
    </div>
    <div class="photo">
      <img src="http://placekitten.com/500/450" alt="PlaceKitten" />
    </div>
    <div class="photo">
      <img src="http://placekitten.com/g/400/300" alt="PlaceKitten" />
    </div>
    <div class="photo">
      <img src="http://placekitten.com/500/450" alt="PlaceKitten" />
    </div>
    <div class="photo">
      <img src="http://sphotos-c.ak.fbcdn.net/hphotos-ak-snc6/270518_10150259876567206_4788575_n.jpg" />
    </div>
  </div>
</section>


{% endblock %}
